@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
}

.preeloader {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.preloader-spinner {
  -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
  animation: 1s ease-out 0s normal none infinite running pulsate;
  border: 5px solid #39ff14;
  border-radius: 40px;
  display: block;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 10;
}

@keyframes pulsate {
  0% {
      opacity: 0;
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Anton", sans-serif;
  color: #001D38;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

a {
  font-family: "Muli", sans-serif;
}

input::placeholder {
  font-family: "Muli", sans-serif;
}

textarea::placeholder {
  font-family: "Muli", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  color: #AAB1B7;
  line-height: 32px;
  margin-bottom: 0;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Muli", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.black_bg {
  background: #000000;
}

.white-bg {
  background: #ffffff;
}



.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pt-120 {
  padding-top: 120px;
}


.mb-40 {
  margin-bottom: 40px;
}

.pl-68 {
  padding-left: 68px;
}

@media (max-width: 767px) {
 
  .pl-68 {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .pl-68 {
    padding-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .pl-68 {
    padding-left: 10px;
  }
}

#scrollUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #39ff14;
  z-index: 99;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#scrollUp:hover {
  bottom: 25px;
}
.section_title h3 {
  font-size: 50px;
  /* font-family: "courier prime", Monospace; */
  font-weight: 400;
  color:#fff;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  padding-bottom: 7px;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section_title h3 {
    font-size: 35px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
  .section_title h3 br {
    display: none;
  }
}


.section_title p {
  font-size: 20px;
  color: #39ff14;
  line-height: 32px;
  margin-bottom: 0;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "courier prime", Monospace;
}

@media (max-width: 767px) {
  
  .section_title p br {
    display: none;
  }
}

.section_title h4 {
  font-size: 30px;
  font-weight: 400;
  color: #39ff14;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
  /* background-color: #000; */
}


@media (max-width: 767px) {

  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area {
    padding-top: 0;
  }
}

.header-area .main-header-area {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area {
    padding-top: 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .header-area .main-header-area {
    padding-top: 0px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
 
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}


.header-area .main-header-area .main-menu {
  text-align: center;
}


.header-area .main-header-area.sticky {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
  background: #000;
}






div.sponsor {
  position: relative;
  background-color: black;
  height: 85vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.sponsor video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.sponsor .container {
  position: relative;
  z-index: 2;
}

.sponsor .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.sponsor h1{
  color:white;
  text-transform: uppercase;
}
.sponsor p a{
  color:#39ff14;
}



.landing-page{
  height: 100vh;
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment:  fixed; */
}

@media (max-width: 767px){
  .landing-page{
    background-image: url(../bg-2.jpg);
  }  
}


.landing-page h3{
  width:100%;
  letter-spacing: 3px;
  font-size: 30px;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  /* font-weight: 100; */
  color: #39ff14;
  line-height: 1;
  margin-top: 40vh;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landing-page h3{
    font-size: 19px;
  }
  .landing-page p{
    font-size:12px;
  }
}

.note-area {
  padding: 30px;
  padding-bottom: 0px;
}

.note-area h4{
  color:#39ff14;
  letter-spacing:2px;
  padding-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid rgba(192, 182, 182, 0.959);
}

.note-area h5{
  color:#000;
  font-size: 30px;
  padding-top:10px;
  text-transform: uppercase;
}

.note-area p{
  color:#000;
  opacity: 0.8;
}

.demo{
  margin-top: 50px;
}
.demo a:hover,
.demo a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    background: transparent;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 10px;
    background: transparent;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 20px 45px;
    margin: 0;
    background: linear-gradient(to right, rgba(43, 179, 15, 0.877), rgba(0,0,0,0.9));
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    position: relative;
}

#accordion .panel-title a.seconds{
  background: linear-gradient(to right,rgba(0,0,0,0.9), rgba(43, 179, 15, 0.877));
}
#accordion .panel-title a.collapsed {
    border: none;
}

#accordion .panel-title i:before,
#accordion .panel-title i.collapsed:before {
    content: "\f107";
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
    transform: rotate(180deg);
    transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

#accordion .panel-title i:before {
    color: rgba(255, 255, 255, 0.5);
    transform: rotate(0deg);
}

#accordion .panel-body {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 5px;
}
#accordion .panel-body p {
 color:#000;
 font-weight: bold;
 font-size: 20px;
}

@media (max-width: 767px) {
  
  #accordion .panel-body p {
    font-size: 14px;
  }
}

.feed-a-mouth-area{
  padding-top: 75px;
}
.feed-a-mouth-area p.about_info {
  color:#fff;
  font-size: 14px;
}

.contact-section {
  background-color:#fff; 
}
.contact-section h3{
  color:#000;
}

/* mailchimp section */

.box {
  margin-top: 20px;
  box-shadow: 0px 0px 10px #3fec0a;
  background-color: #fff;
  padding: 35px;
  border-radius: .25rem;
  text-align: center;
}


.box h1 {
  color: #000;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.box p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 300;
}

.box input {
  border: 1px solid rgb(220, 219, 235);
  border-radius: 4px;
  font-size: 13px;
  padding: 10px;
  color: #000;
  transition: all .15s ease-in;
}

.box input[type=email] {
  width: 60%;
}

.box input[type=submit] {
  background-color:#000;
  color: #39ff14;
  font-weight: bold;
  border: 1px solid transparent;
}

.box input[type=submit]::focus {
  border: 1px solid #fff;
}

.box input:focus {
  border-color:#39ff14;
  box-shadow: 0px 0px 8px 2px rgba(82, 228, 37, 0.5);
  outline: none;
}

.box input::placeholder {
  color: #999;
}

.box #subscribe-result p {
  margin-top: 35px;
}


/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
#gallery {
  padding: 20px;
  overflow: hidden;
}

#gallery .owl-nav, #gallery .owl-dots {
  margin-top: 25px;
  text-align: center;
}

#gallery .owl-item {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

#gallery .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
}

#gallery .owl-dot.active {
  background-color: #39ff14;
}

#gallery .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

#gallery .gallery-carousel .center {
  border: 6px solid #39ff14;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}
    .active {
        color: #39ff14;
    }

.gallery h3{
  color: #000;
}








.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #000000;
  position: relative;
  z-index: 9;
}

.footer .copy-right_text {
  padding-bottom: 5px;
}


.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #39ff13;
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

@media (max-width: 767px) {
  
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}


.footer p.rights {
  font-size: 14px;
}
.footer .rights a {
  font-family: 'Courier prime', Courier, monospace;
  color: #39ff14;
}

/*=================== contact banner start ====================*/

.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #39ff14;
}

.contact-info .media-body p {
  color: #8a8a8a;
}

/*=================== contact banner end ====================*/
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* Contact Success and error Area css
============================================================================================ */

.contact-section {
  padding: 70px 0 50px;
}

@media (max-width: 991px) {
  
  .contact-section {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
  .contact-section {
    padding: 80px 0 50px;
  }
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

.mb-30 {
  margin-bottom: 30px;
}